@import "./custom";
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.App {
  font-family: "Manrope", sans-serif;
}
.accordion-button:not(.collapsed) {
  color: $dark;
  background-color: $gray;
}
.accordion-button:focus {
  background-color: $gray;
  color: $dark;
  box-shadow: none;
}
.custom-accordion {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.font-14 {
  font-size: 14px;
}
header img {
  background: $peach;
  max-width: 350px;
}
.nav-link.active {
  border-bottom: 3px solid $green;
}
form.login,
form.signup {
  min-width: 320px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0px 5px gray;
}
caption {
  font-size: 20px;
}
.nav-scroll-container::-webkit-scrollbar {
  display: none;
}
.nav-scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dot {
  height: 18px;
  width: 18px;
}
.dot a {
  white-space: nowrap;
  color: black;
  top: -2px;
}
.bar {
  height: 18px;
  width: 4px;
}
@media (min-width: 1024px) {
  .dashboard-container {
    position: relative;
    min-height: 100vh;
  }
  .dashboard-body {
  margin-left: 30vw;
}
.sidebar {
  position: fixed;
  height: 100vh;
}
}