@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$offcanvas-horizontal-width: 220px;
$green: #38e078;
$black: #212529;
$peach: #fdc696;
$gray: #e8f2ed;
$white: white;

$list-group-active-bg: $green;
$list-group-active-border-color: $green;
$list-group-active-color: $black;

$custom-colors: (
  "peach": $peach,
  "gray": $gray,
  "white": $white,
  "black": $black,
  "green": $green,
  "whitesmoke": whitesmoke,
);

$theme-colors: map-merge($theme-colors, $custom-colors);


@import "bootstrap/scss/bootstrap";
